@imgPath: "<%= imagePath %>";

@runningColor: #4C85B7;
@pendingColor: #CFCFCF;
@rejectedColor: #BC0008;
@completeColor: #568D30;
@acceptedColor: #669845;

body {
  font-family: "Proxima Nova Regular", "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
