<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Build system <%= version %> </title>

    <link rel="stylesheet" href="<%= cssUrl %>">

    <script src="<%= jsUrl %>"></script>
</head>
<body>

<container class="app">
    <table class="data">
        <thead>
        <tr>
            <td class="header-cell changelist">Changelist / Build</td>
            <td class="header-cell owner">Owner</td>
            <td class="header-cell time-started">Time Started</td>
            <td class="header-cell state">State</td>
            <td class="header-cell metrics">Metrics</td>
            <td class="header-cell build">Build</td>
            <td class="header-cell unit-test">Unit Test</td>
            <td class="header-cell functional-test">Functional Test</td>
        </tr>
        </thead>
        <tbody>
            <tr class="item pending">
                <td class="cell changelist">Tenrox-R1_1235</td>
                <td class="cell owner"></td>
                <td class="cell time-started"></td>
                <td class="cell state">Pending</td>
                <td class="cell metrics"></td>
                <td class="cell build"></td>
                <td class="cell unit-test"></td>
                <td class="cell functional-test"></td>
            </tr>
            <tr class="item running">
                <td class="cell changelist">432462</td>
                <td class="cell owner">jtuck</td>
                <td class="cell time-started">4/18/2014 12:12pm</td>
                <td class="cell state">Running</td>
                <td class="cell metrics"></td>
                <td class="cell build"></td>
                <td class="cell unit-test"></td>
                <td class="cell functional-test"></td>
            </tr>
            <tr class="item rejected">
                <td class="cell changelist">432461</td>
                <td class="cell owner">samy</td>
                <td class="cell time-started">4/18/2014 10:53am</td>
                <td class="cell state">Rejected</td>
                <td class="cell metrics"></td>
                <td class="cell build"></td>
                <td class="cell unit-test"></td>
                <td class="cell functional-test"></td>
            </tr>
            <tr class="item complete">
                <td class="cell changelist">Tenrox-R1_1234</td>
                <td class="cell owner"></td>
                <td class="cell time-started">4/17/2014 9:42am</td>
                <td class="cell state">Complete</td>
                <td class="cell metrics"></td>
                <td class="cell build"></td>
                <td class="cell unit-test"></td>
                <td class="cell functional-test"></td>
            </tr>
            <tr class="item accepted">
                <td class="cell changelist">432459</td>
                <td class="cell owner">samy</td>
                <td class="cell time-started">4/17/2014 9:42am</td>
                <td class="cell state">Accepted</td>
                <td class="cell metrics"></td>
                <td class="cell build"></td>
                <td class="cell unit-test"></td>
                <td class="cell functional-test"></td>
            </tr>
        </tbody>
    </table>
</container>


</body>
<%= requireScript %>
</html>
