<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Build system <%= version %> </title>

    <link rel="stylesheet" href="<%= cssUrl %>">

    <script src="<%= jsUrl %>"></script>
</head>
<body>

<container class="app" ng-controller="itemsController">
    <table class="data">
        <thead>
        <tr>
            <td class="header-cell changelist">Changelist / Build</td>
            <td class="header-cell owner">Owner</td>
            <td class="header-cell time-started">Time Started</td>
            <td class="header-cell state">State</td>
            <td class="header-cell metrics">Metrics</td>
            <td class="header-cell build">Build</td>
            <td class="header-cell unit-test">Unit Test</td>
            <td class="header-cell functional-test">Functional Test</td>
        </tr>
        </thead>
        <tbody>
        <tr class="item {{item.state}}" ng-repeat="item in data.items track by item.id"
            ng-include="'templates/item.html'"></tr>
        </tbody>
    </table>
</container>


</body>
<%= requireScript %>
</html>
